.vscode/**
.vscode-test/**
src/**
tsconfig.json
sample.md
sample.txt
download_assets.js
download_models.ps1
install.js
IMPLEMENTATION_PLAN.md
*.vsix
test_out.wav
test_output.wav
**/*.map
.git/**
.gitignore

bin/**
voices/**

# Whitelist compiled scripts, node_modules, media assets, package.json, and license
!out/**
!node_modules/**
!media/**
!package.json
!README.md
!LICENSE
